ehforwarderbot==2.1.1
efb-wechat-slave
efb-patch-middleware
efb-mp-instantview-middleware
efb-voice_recog-middleware
efb-notice-middleware
efb-msg_blocker-middleware
efb-search_msg-middleware
efb-link-preview-middleware
git+https://github.com/milkice233/efb-qq-slave@master
git+https://github.com/ehForwarderBot/efb-telegram-master
git+https://github.com/XYenon/efb-qq-plugin-go-cqhttp
git+https://github.com/xzsk2/efb-filter-middleware
cairosvg
lottie